@model Filmative.Models.Movie

@{ 
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<hr />
<h2>Further Api Information will display here</h2>
<hr />
<p>@Html.ActionLink("Movie List", "Index")</p>
<p>@Html.ActionLink("Add a Rating", "Create", "Scores", new { id = Model.MovieId })</p>

@*<h2>Add a Score</h2>
<h4 class="score-display">Click here to Add a Score</h4>
<div id="score-result"></div>*@

@*<p>@Html.Partial("~/Views/Scores/ScorePartial.cshtml", Model)</p>*@



