@model Filmative.Models.Score

@{ 
    ViewData["Title"] = @Html.DisplayFor(model => Model.Movie.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("input[data-val-length-max]").each(function () {
            var $this = $(this);
            var data = $this.data();
            $this.attr("maxlength", data.valLengthMax);
        });
    });
</script>

<div class="jumbotron">
    <img src="@Url.Content(Model.Movie.Image)" class="rate-poster" width="90"/>
    <h5>Rate</h5>
    <h2>@Html.DisplayFor(model => Model.Movie.Title): </h2>
    @using (Html.BeginForm("Create", "Scores", FormMethod.Post))
    {

        @Html.HiddenFor(model => model.Movie.MovieId, new { @Value = Model.Movie.MovieId })

        @Html.HiddenFor(model => model.Rating)

        <span class="rating">
            @for (int i = 1; i <= 5; i++)
            {
                var starClass = "star";
                if (Model.Rating == 6 - i)
                {
                    starClass += " active";
                }
                <span data-value="@(6 - i)" class="@starClass"></span>
            }
        </span>
        <br />
        <br />

        @Html.LabelFor(model => model.Review)
        <br />
        @Html.EditorFor(model => model.Review)

        <input type="submit" value="Create" class="btn btn-default" />
    }
    <br />
    @Html.ActionLink("Back to Scores", "Index")
    
    <script src="~/js/rating.js"></script>

</div>