@model Filmative.Models.Score

@{ 
    ViewData["Title"] = "Score - Somethin'";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[data-val-length-max]").each(function () {
            var $this = $(this);
            var data = $this.data();
            $this.attr("maxlength", data.valLengthMax);
        });
    });
</script>

<div class="jumbotron">
    <h2>Add a Score: </h2>
    <hr />
    @using (Html.BeginForm("Create", "Scores", FormMethod.Post))
    {

        @Html.HiddenFor(model => model.Movie.MovieId, new { @Value = Model.Movie.MovieId })

        @Html.LabelFor(model => model.Rating)
        @Html.EditorFor(model => model.Rating)

        @Html.LabelFor(model => model.Review)
        @Html.EditorFor(model => model.Review)

        <input type="submit" value="Create" class="btn btn-default" />
    }

    @Html.ActionLink("Back to Scores", "Index")
</div>