@model IEnumerable<Filmative.Models.Score>

@using System.Security.Claims

@{ 
    ViewData["Title"] = "Scores, Yo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scores for @User.Identity.Name</h2>

@if (Model.Any())
{
    <ul>
        @foreach (var score in Model)
        {
            <li>@Html.DisplayFor(modelScore => score.Movie.Title): @Html.DisplayFor(modelScore => score.Rating)</li>

        }
    </ul>
}


<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Rate a Movie", "Create")</p>