@model IEnumerable<Filmative.Models.Score>

@{ 
    ViewData["Title"] = "Scores, Yo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scores?</h2>

<ul>
    @foreach(var score in Model)
    {
        <li>Test @Html.DisplayFor(modelScore => score.Movie.Title)</li>
        <li>@Html.DisplayFor(modelScore => score.Rating), @Html.DisplayFor(modelScore => score.Review)</li>
    }
</ul>

<p>@Html.ActionLink("Add a Score", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>