@model IEnumerable<Filmative.Models.Score>

@using System.Security.Claims

@{ 
    ViewData["Title"] = @User.Identity.Name + "'s Scores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@User.Identity.Name's Scores</h2>

    @if (Model.Any())
    {
        <ul>
            @foreach (var score in Model)
            {
                <li><a href="~/Movies/Details/@score.Movie.MovieId"><img src="@Url.Content(score.Movie.Image)" class="list-poster" width="90" /></a></li>
 
                @for(int i = 1; i <= score.Rating; i++)
                {
                    <img src="~/Images/star-full.png" class="small-star" width="12"/>
                }



               <li>@Html.DisplayFor(modelScore => score.Review)</li>
                              
                <li><br /></li>
             }
        </ul>
    }


    <p>@Html.ActionLink("Movies", "Index", "Movies")</p>
</div>