@model IEnumerable<Filmative.Models.Score>

@using System.Security.Claims

@{ 
    ViewData["Title"] = @User.Identity.Name + "'s Scores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@User.Identity.Name's Scores</h2>

    @if (Model.Any())
    {
        <ul>
            @foreach (var score in Model)
            {
                <li><a href="~/Movies/Details/@score.Movie.MovieId"><img src="@Url.Content(score.Movie.Image)" class="list-poster" width="90" /></a></li>
                <li><strong>@Html.DisplayFor(modelScore => score.Rating) Stars</strong></li>
                <li>@Html.DisplayFor(modelScore => score.Review)</li>
                <li><br /></li>
             }
        </ul>
    }


    <p>@Html.ActionLink("Movies", "Index", "Movies")</p>
</div>