@{ 
    ViewData["Title"] = "Filmative - Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Filmative.ViewModels

@model LoginViewModel

<h2>Log In: </h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log In" class="btn btn-default" />
}

<p>@Html.ActionLink("Home", "Index")</p>
<p>@Html.ActionLink("Register an Account", "Register")</p>