@{ 
    ViewData["Title"] = "Create an Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Filmative.ViewModels

@model RegisterViewModel

<div class="jumbotron">
    <h2>Register a new user</h2>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.LabelFor(m => m.UserName)
        <br />
        @Html.TextBoxFor(m => m.UserName)
        <br />
        <br />
        @Html.LabelFor(m => m.Email)
        <br />
        @Html.TextBoxFor(m => m.Email)
        <br />
        <br />
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.PasswordFor(m => m.Password)
        <br />
        <br />
        @Html.LabelFor(m => m.ConfirmPassword)
        <br />
        @Html.PasswordFor(m => m.ConfirmPassword)

        <input type="submit" value="Register" />
    }
</div>